<section class="pt-4">
  <!-- Toolbar -->
  <header
    class="mb-6 flex flex-row gap-4 justify-between"
  >
    <h2 class="text-xl font-semibold tracking-tight">Watch List</h2>

    <div class="flex flex-row justify-end gap-2">
      <button pButton text type="button" class="p-button-sm" (click)="items.reload()">
        <i class="pi pi-refresh" pButtonIcon></i>
      </button>
      <button pButton text type="button" class="p-button-sm" (click)="generateWatchlist()">
        <i class="pi pi-plus" pButtonIcon></i>
        <span pButtonLabel>Generate</span>
      </button>
      <button pButton text type="button" class="p-button-sm" (click)="openAdd()">
        <i class="pi pi-plus" pButtonIcon></i>
        <span pButtonLabel>Add</span>
      </button>
    </div>
  </header>
  @if (items.isLoading()) {
    <div class="flex justify-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  } @else if (!items.hasValue()) {
    <p class="text-center text-gray-500">No entries in watch list.</p>
  }
  @else {
    <p-table
    [value]="items.value()"
    [paginator]="true"
    [rows]="10"
    class="shadow rounded-lg"
  >
    <!-- Header -->
    <ng-template #header>
      <tr>
        <th>Title</th>
        <th class="w-1">Actions</th>
      </tr>
    </ng-template>

    <!-- Body rows -->
    <ng-template #body let-item>
      <tr>
        <td>{{ item.title }}</td>
        <td>
          <button
            pButton
            type="button"
            class="p-button-text p-button-sm"
            (click)="goTo(item.movieId)"
          >
            <i class="pi pi-eye" pButtonIcon></i>
            <span pButtonLabel>View</span>
          </button>
        </td>
      </tr>
    </ng-template>

    <!-- Empty -->
    <ng-template #empty>
      <tr>
        <td colspan="2" class="text-center py-6 italic text-gray-500">
          No entries in watch list.
        </td>
      </tr>
    </ng-template>
  </p-table>

  }
</section>

<p-dialog
  #addDialog
  header="Add movie to watch-list"
  class="h-full"
  modal
  [visible]="dialogVisible()"
  (onHide)="dialogVisible.set(false)"
  [style]="{ width: '32rem', height: '40rem' }"
  [contentStyle]="{
      display: 'flex',
      flexDirection: 'column',
      height: '100%'
  }"
>
  <app-add-watchlist [userId]="userId()" (userAdded)="dialogVisible.set(false)"></app-add-watchlist>

</p-dialog>
